<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>栅格网格系统</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-4" style="background-color: black;">4列</div>
        <div class="col-md-8" style="background-color: purple;">8列</div>

    </div>

    <div class="row">
        <div class="col-md-4" style="background-color: yellow;">4列</div>
        <div class="col-md-4  col-md-offset-1" style="background-color: indianred;">4列</div>
        <div class="col-md-2"  style="background-color: black;">2列</div>
    </div>

</div>
</body>
</html>