<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best</title>
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/demo01的js文件.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
您好,欢迎来到世界上最好的java项目<br><br><br>
<button id="b1" onclick="x()">点我请求map集合</button>
<script>
    function f() {
        $.ajax({
            type: "post",
            url: "/t1",
            success: function (data) {
                console.log(data['3A3F995319404C7CBA4257300ACBBDBB']);
            },
            error: function () {
                alert("查询用户失败，请重试！");
            }
        });
    }

    function x() {
        $.ajax({
            type: "post",
            url: "/t2",
            success: function (data) {
                console.log(data);
            },
            error: function () {
                alert("查询用户失败，请重试！");
            }
        });
    }
</script>

</body>
</html>